.benefits
  .container
    .benefits__items
      .benefits__item
        .benefits__caption: span воплощаем Ваши мечты об уютном и красивом доме в реальность!
        .benefits__picture(style="background-image: url(i/benefits/1.jpg)")
      .benefits__item
        .benefits__caption: span Собственная производственнная линия
        .benefits__picture(style="background-image: url(i/benefits/2.jpg)")
      .benefits__item
        .benefits__caption: span Огромный ассортимент строительных материалов
        .benefits__picture(style="background-image: url(i/benefits/3.jpg)")
    .benefits__slogan Мы уже 10 лет воплощаем Ваши мечты об уютном и красивом доме в реальность!
