footer.footer
  .container
    .footer__nav
      nav
        ul
          li: a(href="#") Главная
          li: a(href="#") Каталог
          li: a(href="#") Новости и статьи
          li: a(href="#") Партнеры
          li: a(href="#") Фото
          li: a(href="#") Контакты
    .footer__content
      .footer__contacts
        h2 +7 (423) 299-26-41, 254-17-31, 254-37-40, 265-19-25
        p
          strong Адрес:
          | Приморский край, г. Владивосток, ул. Шишкина, дом 3.<br>
          strong Тел./факс:
          | +7 (4232) 65-19-24<br>
          strong E-mail:
          | lysinda@mail.ru, anzinenko@mail.ru
      .footer__copy
        span PROEMIO.RU<br>Copyright 2014 Все права защищены.
        img.footer__counter(src="i/counter.jpg")
      .footer__madein
        i.icon-ia
        span Создание сайта —<br>студия «<a href="http://iastudio.ru" target="_blank">Интерактив</a>»
