header.header
  .container
    a.header__logo(href="#")
    .header__phone
      .phone__container
        span Телефон для справок:
        h2 +7 (423) 299-26-41
    .header__callback
      .callback__container
        i.icon-phone
        input(type="text", placeholder="Ваш номер")
        button Заказать звонок
