.news
  .container.news__container
    .news__item
      .news__head
        .news__date 14.07.14
        a.news__cat(href="#") Новости
      a(href="#").news__content Мы уже 10 лет воплощаем Ваши мечты об уютном и красивом доме в реальность!
    .news__item
      .news__head
        .news__date 14.07.14
        a.news__cat(href="#") Новости
      a(href="#").news__content Строительная выставка с/к Чемпион
    .news__item
      .news__head
        .news__date 14.07.14
        a.news__cat(href="#") Новости
      a(href="#").news__content От всего сердца поздравляем наших партнеров, настоящих и потенциальных клиентов с Днем Строителя!
