.container
  #slider.slider
    .slider__container
      ul.slider__items
        li.slider__item.active
        li.slider__item
        li.slider__item
        li.slider__item
        li.slider__item
      .slider__arrows
        .slider__arrow.left: i.icon-arr-left
        .slider__arrow.right: i.icon-arr-right
    .slider__nav
      ul
        li.slidernav__item
          a.slidernav__button(href="slide-1")
            i.slidernav__icon.icon-home
            span Материалы<br>для кровли
          .slidernav__content
            h3 Все для
            h2 кровли
            p Любой строитель, равно как и владелец собственного дома или здания, ищет фасадные материалы, отличающие особенной долговечностью и прекрасным внешним видом.
            div: a.btn(href="#") <i class="icon-eye"></i> Смотреть каталог
            div: a.btn(href="#") <i class="icon-arrow-down"></i> Прайс
        li.slidernav__item.active
          a.slidernav__button(href="slide-2")
            i.slidernav__icon.icon-building
            span Материалы<br>для фасада
          .slidernav__content
            h3 Все для отделки
            h2 Фасадов
            p Любой строитель, равно как и владелец собственного дома или здания, ищет фасадные материалы, отличающие особенной долговечностью и прекрасным внешним видом.
            div: a.btn(href="#") <i class="icon-eye"></i> Смотреть каталог
            div: a.btn(href="#") <i class="icon-arrow-down"></i> Прайс
        li.slidernav__item
          a.slidernav__button(href="slide-3")
            i.slidernav__icon.icon-pipe
            span Водосточные<br>системы
          .slidernav__content
            h3 Любые
            h2 Водосточные системы
            p Любой строитель, равно как и владелец собственного дома или здания, ищет фасадные материалы, отличающие особенной долговечностью и прекрасным внешним видом.
            div: a.btn(href="#") <i class="icon-eye"></i> Смотреть каталог
            div: a.btn(href="#") <i class="icon-arrow-down"></i> Прайс
        li.slidernav__item
          a.slidernav__button(href="slide-4")
            i.slidernav__icon.icon-window
            span Аксессуары для<br>фасадов и кровли
          .slidernav__content
            h3 Аксессуары для
            h2 фасадов и кровли
            p Любой строитель, равно как и владелец собственного дома или здания, ищет фасадные материалы, отличающие особенной долговечностью и прекрасным внешним видом.
            div: a.btn(href="#") <i class="icon-eye"></i> Смотреть каталог
            div: a.btn(href="#") <i class="icon-arrow-down"></i> Прайс
        li.slidernav__item
          a.slidernav__button(href="slide-5")
            i.slidernav__icon.icon-steel
            span Сталь<br>оцинкованная
          .slidernav__content
            h3 Сталь
            h2 оцинкованная
            p Любой строитель, равно как и владелец собственного дома или здания, ищет фасадные материалы, отличающие особенной долговечностью и прекрасным внешним видом.
            div: a.btn(href="#") <i class="icon-eye"></i> Смотреть каталог
            div: a.btn(href="#") <i class="icon-arrow-down"></i> Прайс
